{% extends 'layout-new.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="title">Step 1</h4>
                            <p class="category">Select floors</p>
                        </div>
                        <div class="col-md-6">
                            {% if step == 1 %}
                                <button type="button" class="btn btn-primary pull-right" onclick="next({{step}});">Confirm</button>
                                <button type="button" class="btn btn-danger pull-right" onclick="window.location.href = '/send_selective'" style="margin-right: 4px;">Reset</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="content">
                    {% if step == 1 %}
                    <select id="floors-select" class="duallistbox-selectors" name="duallistbox-floors" multiple>
                        {% for floor in groupings.floors %}
                        <option>{{floor.name}}</option>
                        {% endfor %}
                    </select>
                    {% else %}
                        <p class="category text-center">Already Selected</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if step > 1 %}
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="title">Step 2</h4>
                            <p class="category">Select groups</p>
                        </div>
                        <div class="col-md-6">
                            {% if step == 2 %}
                                <button type="button" class="btn btn-primary pull-right" onclick="next({{step}});">Confirm</button>
                                <button type="button" class="btn btn-danger pull-right" onclick="window.location.href = '/send_selective'" style="margin-right: 4px;">Reset</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="content">
                    {% if step == 2 %}
                    <select id="groups-select" class="duallistbox-selectors" name="duallistbox-groups" multiple>
                        {% for floor in groupings.floors %}
                            {% if floor.selected %}
                                {% for group in floor.groups %}
                                    <option selected>{{floor.name}} - {{group.name}}</option>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </select>
                    {% else %}
                        <p class="category text-center">Already Selected</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% if step > 2 %}
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="title">Step 3</h4>
                            <p class="category">Select wards</p>
                        </div>
                        <div class="col-md-6">
                            {% if step == 3 %}
                                <button type="button" class="btn btn-primary pull-right" onclick="next({{step}});">Confirm</button>
                                <button type="button" class="btn btn-danger pull-right" onclick="window.location.href = '/send_selective'" style="margin-right: 4px;">Reset</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="content">
                    {% if step == 3 %}
                    <select id="wards-select" class="duallistbox-selectors" name="duallistbox-wards" multiple>
                        {% for floor in groupings.floors %}
                            {% if floor.selected %}
                                {% for group in floor.groups %}
                                    {% if group.selected %}
                                        {% for ward in group.wards %}
                                            <option selected>{{floor.name}} - {{group.name}} - {{ward.name}}</option>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </select>
                    {% else %}
                        <p class="category text-center">Already Selected</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% if step > 3 %}
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="title">Step 4</h4>
                            <p class="category">Select boxes</p>
                        </div>
                        <div class="col-md-6">
                            {% if step == 4 %}
                                <button type="button" class="btn btn-primary pull-right" onclick="next({{step}});">Confirm</button>
                                <button type="button" class="btn btn-danger pull-right" onclick="window.location.href = '/send_selective'" style="margin-right: 4px;">Reset</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="content">
                    {% if step == 4 %}
                    <select id="boxes-select" class="duallistbox-selectors" name="duallistbox-boxes" multiple>
                        {% for floor in groupings.floors %}
                            {% if floor.selected %}
                                {% for group in floor.groups %}
                                    {% if group.selected %}
                                        {% for ward in group.wards %}
                                            {% if ward.selected %}
                                                {% for box in ward.boxes %}
                                                    <option selected>{{floor.name}} - {{group.name}} - {{ward.name}} - {{box.name}} - {{box.address}}</option>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </select>
                    {% else %}
                        <p class="category text-center">Already Selected</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>

<script type="text/javascript">
    $(document).ready(function () {
        var floorsDualListBox = $(".duallistbox-selectors").bootstrapDualListbox({
            nonSelectedListLabel: "Unselected",
            selectedListLabel: "Selected",
            moveAllLabel: 'Select all',
            moveSelectedLabel: 'Select',
            removeAllLabel: 'Deselect all',
            removeSelectedLabel: 'Deselect',
            preserveSelectionOnMove: "moved",
            moveOnSelect: false,
            nonSelectedFilter: '',
            infoTextEmpty: 'Empty',
            showFilterInputs: false,
            infoText: '{0} items',
            selectorMinimalHeight: 300           
        });
    });

    function createQuery(selectBox) {
        var query = '';
        for (var i = 0; i < selectBox.length; i++) {
            query += selectBox[i].text.replace(/ /g, '+');
            if (i != selectBox.length - 1) {
                query += ','
            }
            console.log(selectBox[i].text);
            console.log(query);
        }
        return query
    }

    function next(step) {
        switch (step) {
            case 1:
                var selectBox = $('#floors-select option:selected');
                var newLocation = '/send_selective?step=2&floors=' + createQuery(selectBox);
                window.location.href = newLocation;                
                break;
            case 2:
                var selectBox = $('#groups-select option:selected');
                var newLocation = '/send_selective?step=3&groups=' + createQuery(selectBox);
                window.location.href = newLocation;
                break;
            case 3:
                var selectBox = $('#wards-select option:selected');
                var newLocation = '/send_selective?step=4&wards=' + createQuery(selectBox);
                window.location.href = newLocation;
                break;
            case 4:
                var selectBox = $('#boxes-select option:selected');
                var newLocation = '/send_selective?step=5&boxes=';
                for (var i = 0; i < selectBox.length; i++) {
                    newLocation += selectBox[i].text.split('-')[4].trim().replace(/ /g, '+');
                    if (i != selectBox.length - 1) {
                        newLocation += ','
                    }
                }
                window.location.href = newLocation;
                break;
        }
    }
</script>

{% endblock %}
